/*.suo
/.vs
/TestPowerNetCore/bin
/TestPowerNetCore/obj

/TestPower_CS/.vs
/TestPower_CS/bin
/TestPower_CS/obj

/TestPower_VC/Debug

/TestPowerSumNet/bin
/TestPowerSumNet/obj

/TestPowerSumNetCore/bin
/TestPowerSumNetCore/obj

/CalcToBillionNet8/bin
/CalcToBillionNet8/obj
/CalcToBillionNetFrm472/bin
/CalcToBillionNetFrm472/obj

/TestPowerSumNetCoreWinFrm/bin
/TestPowerSumNetCoreWinFrm/obj
/TestPowerSumNetCoreWinFrm/TestPowerSumNetCoreWinFrm.csproj.user

/TestPowerSumNetCoreMobile/bin
/TestPowerSumNetCoreMobile/obj
/TestPowerSumNetCoreMobile/TestPowerSumNetCoreMobile.csproj.user

/CpuBenchmark/bin
/CpuBenchmark/obj

/SimpleCpuTest/bin
/SimpleCpuTest/obj

/TestPowerSumNetCore/bin
/TestPowerSumNetCore/obj

/SimpleCpuTestAndroid/bin/*
/SimpleCpuTestAndroid/obj/*
/SimpleCpuTestAndroid/SimpleCpuTestAndroid.csproj.user

/SimpleCpuTestCsUI/bin/*
/SimpleCpuTestCsUI/obj/*
/SimpleCpuTestCsUI/SimpleCpuTestCsUI.csproj.user

/x64/*
/SimpleCpuTestCppUI/x64/*